{{ define "footer" }}
    <script src="https://use.fontawesome.com/8126578d90.js"></script>
    <p>By <a href="https://tricht.dev/" target="_blank">Michael</a> - 
    <a href="https://github.com/mtricht/trello-burndown" target="_blank">
        View on <i class="fa fa-github-alt"></i>
    </a></p>
</body>
</html>
{{ end }}
