{{ define "footer" }}
    <script src="https://use.fontawesome.com/8126578d90.js"></script>
    <p>By <a href="https://www.swordbeta.com/" target="_blank">swordbeta</a> - 
    <a href="https://github.com/swordbeta/trello-burndown" targe="_blank">
        View on <i class="fa fa-github-alt"></i>
    </a></p>
</body>
</html>
{{ end }}